[Desktop Entry]
Version=1.0
Type=Link
Name=index.html
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/js-projeto-de-vida/blob/main/index.html
