[Desktop Entry]
Version=1.0
Type=Link
Name=main.js
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/js-projeto-de-vida/blob/aula8/main.js
