[Desktop Entry]
Version=1.0
Type=Link
Name=README.md
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/js-projeto-de-vida/blob/main/README.md
